WebContent/WEB-INF/wsdl/xsd/manager/Srv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://srv.manager.webservice.ottico.payer.seda.com" 
			xmlns:tns="http://srv.manager.webservice.ottico.payer.seda.com"
			elementFormDefault="qualified" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="FaultType">
		<xsd:sequence>
  			<xsd:element name="code" type="xsd:int"/>
  			<xsd:element name="message" type="xsd:string"/>
  		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Fault" type="tns:FaultType" />

</xsd:schema>
