WebContent/WEB-INF/wsdl/Manager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://source.manager.webservice.ottico.payer.seda.com"
	xmlns:tns="http://source.manager.webservice.ottico.payer.seda.com" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:sd="http://dati.manager.webservice.ottico.payer.seda.com"
	xmlns:srv="http://srv.manager.webservice.ottico.payer.seda.com" name="PayerManagerOttico" >

	<wsdl:types>
		<xsd:schema targetNamespace="http://source.manager.webservice.ottico.payer.seda.com">
			<xsd:import namespace="http://dati.manager.webservice.ottico.payer.seda.com"
				schemaLocation="xsd/manager/Manager.xsd" />
			<xsd:import namespace="http://srv.manager.webservice.ottico.payer.seda.com"
				schemaLocation="xsd/manager/Srv.xsd" />
		</xsd:schema>
	</wsdl:types>	
	<!-- Start_Message -->
	
	
	<!-- 3. ricercaListaElabOttico -->
	<wsdl:message name="RicercaListaElabOtticoRequest">
		<wsdl:part name="in" element="sd:RicercaListaElabOtticoRequest" />
	</wsdl:message>
	<wsdl:message name="RicercaListaElabOtticoResponse">
		<wsdl:part name="out" element="sd:RicercaListaElabOtticoResponse" />
	</wsdl:message>
	
	<!-- End_Message -->
	<wsdl:message name="Fault">
		<wsdl:part name="fault" element="srv:Fault"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Empty" />

	<wsdl:portType name="ManagerInterface">
		<!-- 3. -->
		<wsdl:operation name="ricercaListaElabOttico">
			<wsdl:input message="tns:RicercaListaElabOtticoRequest"/>
			<wsdl:output message="tns:RicercaListaElabOtticoResponse" />
			<wsdl:fault name="ManagerFaultException" message="tns:Fault"></wsdl:fault>
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="ManagerSOAPBinding" type="tns:ManagerInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<!-- 3. -->
		<wsdl:operation name="ricercaListaElabOttico">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ManagerFaultException">
				<soap:fault name="ManagerFaultException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="ManagerService">
		<wsdl:port binding="tns:ManagerSOAPBinding" name="ManagerPort">
			<soap:address location="http://localhost:8080/ManagerService/manager" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
